discord.py
# youtube_search
# chromadb
# sentence_transformers
SpeechRecognition
# whisperx==3.3.2
# duckduckgo_search
# google-genai
python-dotenv
pillow
selenium
webdriver-manager
# langchain_community
pydub
peft
langchain_ollama