discord.py
youtube_search
# chromadb
# sentence_transformers
SpeechRecognition
# whisperx==3.3.2
ddgs
google-genai
python-dotenv
pillow
selenium
webdriver-manager
langchain-community
pydub
peft
scipy
tqdm
transformers
soundfile
# langchain-ollama
requests
sounddevice
numpy
pytz
huggingface-hub
beautifulsoup4
pandas
playwright
# uv pip install scipy