discord.py
ollama
youtube_search
chromadb
sentence_transformers
SpeechRecognition
whisperx==3.3.2
duckduckgo_search
google-genai
python-dotenv
pillow
selenium
webdriver-manager
langchain_community
pydub
peft
langchain_ollama

# .\llamacpp\llama-mtmd-cli.exe -m {text_model}.gguf --mmproj mmproj.gguf --image your_image.jpg

